<h1>Editing <%= @insurance_co.name %></h1>

<%= render 'form' %>

<br />

<%= link_to @insurance_co.name, @insurance_co %>

<br />
<br />

<%= link_to 'All Insurance Companies', insurance_cos_path %>
