<h1>Editing <%= @ins_co_office.name %></h1>

<%= render 'form' %>

<br />
<br />

<%= link_to 'Show ' + @ins_co_office.name, @ins_co_office %>

<br />
<br />

<%= link_to 'All Insurance Company Offices', ins_co_offices_path %>
